<strong>Olá, {{user}}</strong>

<p>Uma nova inscrição foi registrada no Meetup <strong>{{title}}.</strong></p>

<p>
  <strong>Informações do Meetup: </strong>
  <br>
  <strong>Titulo: </strong> {{title}}
  <br>
  <strong>Descrição: </strong> {{description}}
  <br>
  <strong>Local: </strong> {{place}}
  <br>
  <strong>Data/Hora: </strong> {{date}}
  <br>
</p>

<p>
  <strong>Informações do Inscrito: </strong>
  <br>
  <strong>Nome: </strong> {{name}}
  <br>
  <strong>Email: </strong> {{email}}
</p>
